

body{
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  min-height: 100vh;
}

.todo-list{
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  list-style: none;
}

h1{
  text-align: center;
  color: #333;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 2rem;
} 

li{
  padding: 5px;
}

.todo-list > li {
    background-color: #96dadf; /* That light mint green color */
    padding: 20px;
    margin-bottom: 15px;      /* Space between the green boxes */
    border-radius: 12px;
}

/* Aligning the checkbox and text */
label {
    font-weight: bold;
    margin-left: 8px;
    cursor: pointer;
}

.sub-item {
    margin-top: 10px;
}

.sub-item-link {
    text-decoration: none;
    color: blue;
    font-weight: 500;
}

.sub-item-link:hover {
    color: grey;
}

.sub-item-link:hover {
    color: grey;
}


.sub-item-link {
  text-decoration: none;
}

.sub-item-link:link{
  color: rgb(37, 65, 131);
}

.sub-item-link:visited{
   color: pink;
}

.sub-item-link:hover{
   color: grey;
}

.sub-item-link:active{
  color: olive;
}

.sub-item-link:focus{
  border: 5px dashed orange;
  outline: none;
}